---
layout: default
title: blog
---
{% include navigation.html foo='blog' %}

<div class="blog text">
  {% for post in site.categories.Blog  %}
    {% assign currentdate = post.date | date: "%B %Y" %}
    {% if currentdate != date %}
    <!-- <h3 class="post-month">{{ currentdate }}</h3> -->
    {% assign date = currentdate %}
    {% endif %}
      <div class="postlist hideList">
        <a href="{{ post.url }}">
          <span class="post-title">{{ post.title }}</span>
          <span class="post-date">{{ post.date | date_to_string }}</span>
        </a>
      </div>
      {% endfor %}
  </div>
