---
layout: default
title: home
---

{% include navigation.html foo='home'%}
<section>
  <p class="f1-ns f3 fw2 lh-copy" id="introduction">
    프론트엔드 개발자 <strong>오다혜</strong>입니다.<br>
    인테리어, 건축, UX, UI 디자인에 이르기까지 다양한 디자인 경험을 가지고
    현재는 개발자로써 웹을 아름답게 만드는 일을 즐깁니다.
  </p>

  <p class="dark-green">✋ open for full-time job</p>
</section>
<section class="mt7">
  <h4 class="f5 fw6">최근 소식 - 201904</h4>
  <ul class="f3 fw2 list pl0">
    <li class="pv2">Node로 이것저것 만들기에 푹 빠졌습니다.</li>
  </ul>
</section>
<section class="mt5">
  <h4 class="f5 fw6">스킬들</h4>
  <div class="f3 fw2">
    {% for item in site.data.text.skills %}
      <span class="ph1">
        {{ item.name }}
      </span>
    {% endfor %}
  </div>
</section>
<section class="mt5">
  <h4 class="f5 fw6">토이 트로젝트</h4>
  <ul class="f3 fw2 list pl0">
    <li class="pv2">Typed<span>텍스트 기반의 웹페이지 생성기</span></li>
    <li class="pv2">Air-cli<span>현재 원하는 위치의 미세먼지 검색 CLI앱</span></li>
    <li class="pv2">TodayLibrary<span>매일 매일 추천 리스트</span></li>
  </ul>
</section>
<section class="mt5">
  <h4 class="f5 fw6">관련 링크</h4>
  <ul class="f3 fw2 list pl0">
    {% for item in site.data.text.links %}
    <li><a class="link black no-underline hover-yellow db pv2" href={{item.link}} target="_blank">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
</section>
<section class="mt5">
  <h4 class="f5 fw6">이메일</h4>
  <p class="f2 fw2">
    dahe.oh@gmail.com
  </p>
</section>
<!-- <script defer src="/assets/js/script.js"></script> -->
