---
layout: default
title: home
---

{% include navigation.html foo='home'%}
<section>
  <p class="f1-ns f3 fw2 lh-copy" id="introduction">
    프론트엔드 개발자 <strong>오다혜</strong>입니다.<br>
    디자인과 개발을 통해 아름답고 즐거운 경험을 만드는 것에 관심이 많습니다.
  </p>

</section>
<section class="mt7 bt b--black-20">
  <h4 class="f5 fw6 mb1">주요 스킬</h4>
  <div class="f3-ns fw2 f5">
    {% for item in site.data.text.skills %}
      <span class="dib mr3 f4">
        {{ item.name }}
      </span>
    {% endfor %}
  </div>
  <h4 class="f5 fw6 mt4 mb1">그외 디자인 스킬</h4>
  <div class="f3-ns fw2 f5">
    {% for item in site.data.text.secondary %}
    <span class="dib mr3 f4">
      {{ item.name }}
    </span>
    {% endfor %}
  </div>
  <h4 class="f5 fw6 mt4 mb1">요즘 배우고있는 것들</h4>
  <div class="f3-ns fw2 f5">
    {% for item in site.data.text.learning %}
    <span class="dib mr3 f4">
      {{ item.name }}
    </span>
    {% endfor %}
  </div>
</section>
<section class="mt5 bt b--black-20">
  <h4 class="f5 fw6">토이 트로젝트</h4>
  <ul class="f3-ns fw2 f5 list pl0">
    {% for item in site.data.text.projects %}
    <li>
      <a class="link black no-underline hover-green db pv2 flex flex-column flex-row-l" href={{item.link}} target="_blank">
        <span class="w-20-l pv1">{{ item.name }}</span>
        <span class="pv1">{{ item.desc }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
<section class="mt5 bt b--black-20">
  <h4 class="f5 fw6">관련 링크</h4>
  <ul class="f3 fw2 list pl0">
    {% for item in site.data.text.links %}
    <li><a class="link black no-underline hover-green db pv2" href={{item.link}} target="_blank">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
</section>
<section class="mt5 bt b--black-20">
  <h4 class="f5 fw6">이메일</h4>
  <p class="f2-ns f3 fw2">
    hi@yogicat.dev
  </p>
</section>
