
@font-face {
  font-family: 'gothic_a1';
  src: url('fonts/gothica1-light-webfont.woff2') format('woff2'),
       url('fonts/gothica1-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}




@font-face {
  font-family: 'gothic_a1';
  src: url('fonts/gothica1-extralight-webfont.woff2') format('woff2'),
       url('fonts/gothica1-extralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}




@font-face {
  font-family: 'gothic_a1';
  src: url('fonts/gothica1-bold-webfont.woff2') format('woff2'),
       url('fonts/gothica1-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
