
@font-face {
  font-family: 'Noto Sans';
  src: url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
       url('fonts/NotoSansKR-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}




@font-face {
  font-family: 'Noto Sans';
  src: url('fonts/NotoSansKR-Light.woff2') format('woff2'),
       url('fonts/NotoSansKR-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}




@font-face {
  font-family: 'Noto Sans';
  src: url('fonts/NotoSansKR-Bold.woff2') format('woff2'),
       url('fonts/NotoSansKR-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
