---
---
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,500');
@import "mixin";

$pretty-green : #00de86;
$pretty-light-green: #49ab7a;
$light-salmon: #F15838;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gothic A1', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.65;
  word-break: keep-all;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: none;
}

.post {
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: underline;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

p {
  margin: 0;
}


.active {
  font-weight: bold;
}


// font-size
.small {
  font-size: 1.2rem;
}

.medium {
  font-size: 1.6rem;
}

.large {
  @include fluid-type($min_width, $max_width, 16px, 24px);
}

.xlarge {
  @include fluid-type($min_width, $max_width, 24px, 30px);
}


.now, .skills, .projects, .links {
  margin-top: 100px;
}

#Email {
  @extend .xlarge;
  border: 0;
  background: transparent;
  color: black;
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  // visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 1.6rem;
  padding: 1rem 2rem;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

main {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

.intro {
  margin-top: 4rem;
}

.contact {
  margin-top: 14rem;;
}
.worklistgroup {
  margin: 0;
  padding: 0;
}

.worklist {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.text {
  max-width: 65rem;
}
ul {
  padding: 0;
}
.hideList {
  list-style: none;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 65rem;
  margin-bottom: 4rem;

  @extend .large;

  a {
    padding-right: 2rem;
    font-weight: 300;
    font-size: medium;
    position: relative;
    text-decoration: none !important;

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: black;
      position: absolute;
      opacity: 0;
      top: -10px;
      transition: opacity 0.2s ease;
    }

   &:hover::after {
      opacity: 1;
    }
  }
}

em {
  // @extend .bold;
  font-style: normal;
  position: relative;
  background: linear-gradient(to right, rgba(yellow, 0.5), rgba(yellow, 0.5));
  background-size: 300% 50%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  transition-property: background-position;
  transition-duration: 300ms;
  padding: 0;

}


#me {

  &::before {
    content: "";
    position: absolute;
    width: 40rem;
    height: 28rem;
    background: white;
    background-image: url(/assets/images/dho_jordan.jpg);
    background-size: cover;
    z-index: 10;
    left: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
  }

  &:hover::before {
    visibility: visible;
    opacity: 1;
  }
}

.booklistgroup {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14rem;
}

.booklist {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  padding: 10px 20px 20px 0;

  .item {
    display: flex;
  }
  picture {
    width: 30%;

    img {
      width: 100%;
      box-shadow: #00000066 6px 6px 0px 0px;
    }
  }

  &:hover {
    .booktitle {
      text-decoration: underline;
    }
  }
}
.booktexts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
.booktitle {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 10px 0;
  letter-spacing: 0.5px;
}
.bookauthor {
  margin: 0;
  font-size: 1.2rem;
  color: grey;
  margin-bottom: auto;
}

.postlist {
  a {
    // display: flex;
  }
}

.blog {
  margin-top: 100px;
}

.postlist {
  position: relative;

  &:hover::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    left: -12px;
    top: 0px;
  }

  a {
    display: flex;
    justify-content: space-between;
  }
}

.post-month {
  font-size: 2.4rem;
  letter-spacing: 1px;
  margin: 20px 0 10px 0;
}

.post-title {
  font-size: 1.8rem;
  line-height: 2;
}

.post-date {
  color: grey;
}

.page-title {
  margin-top: 100px;
}

.post {
  line-height: 1.8;
}

.skill {
  // font-size: 1.6rem;
  // font-weight: bold;
  margin-right: 1rem;
  letter-spacing: 1px;
}
