---
---
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import "code",
"fonts"
;

body {
  word-break: keep-all;
}

::selection {
  background: #00de86;
}

.sans-serif {
  font-family: 'Noto Sans', sans-serif;
}

.green {
  color: #00de86;
}

.image {
  visibility: hidden;
}

.isShow {
  visibility: visible;
}


/**
 * Code formatting
 */
pre,
code {
  font-family: 'Fira Mono', Menlo, monospace;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  font-size: 0.9rem;
}

code {
  padding: 0.2rem 0.6rem;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  max-width: 80rem;

  >code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


hr {
  margin: 6rem 50% 4rem 0 !important;
}

blockquote {
  border-left: 2px solid #9E9E9E;
  margin-left: 2rem;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.post {
  li {
    line-height: 2;
  }

  &.lh-copy {
    line-height: 1.8 !important
  }

  a {
    color: #00804d;
    font-weight: 300;

    &:hover {
      color: #00b96f;
    }
  }
}

.book {
  box-shadow: 8px 8px 0px #a5a5a5;
}
