---
---

@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import "code",
"fonts"
;

body {
  word-break: keep-all;
}

::selection {
  background: #00de86;
}

.sans-serif {
  font-family: 'Noto Sans', sans-serif;
}

.green {
  color: #00de86;
}

.image {
  visibility: hidden;
}

.isShow {
  visibility: visible;
}


/**
 * Code formatting
 */
pre,
code {
  font-family: 'Fira Mono', monospace;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  background-color: #d4d4d433;
  font-size: 0.8rem;
}

code {
  padding: 0.2rem 0.4rem;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
  max-width: 80rem;

  >code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


h1,
h2,
h3 {
  font-weight: 200;
  margin: 2rem 0;
}

hr {
  margin: 6rem 50% 4rem 0 !important;
}

blockquote {
  border-left: 2px solid #9E9E9E;
  margin-left: 2rem;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.post {
  li {
    line-height: 2;
  }
}

.book {
  box-shadow: 8px 8px 0px #a5a5a5;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
