---
layout: default
title: blog
permalink: /blog/
---

{% include navigation.html foo='home'%}

{% comment %} {% assign posts = site.categories.blog %} {% endcomment %}
{% assign posts = site.posts %}

{% for post in posts %}

{% assign currentdate = post.date | date: "%Y. %m" %}
  {% if currentdate != date %}
  <h3 class="fw3 f5 mb1 mt5">{{ currentdate }}</h3>
  {% assign date = currentdate %}
  {% endif %}

  <a href="{{ post.url }}" class="link black dim pv3 fw2 f5 f3-ns flex items-center bb b--black-20">
    <span class="tl fw3 f5 w1">{{ post.date | date: "%d" }}</span>
    <span class="w1 h1 br-100 mh2 {{post.tags}}"></span>
    <span class="mv0">{{ post.title | truncate: 40, '..' }}</span>
  </a>
  {% endfor %}
</div>

