<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-site-verification" content="cZKCIKvfUfPczkVg97hrYA9C_a8kdKKw8peSsea5aYQ" />
  {%- seo -%}
  {% feed_meta %}
  <link rel="stylesheet" href="/assets/css/tachyons.css"/>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" type="image/png" href="/Favicon.png">
</head>
<body>
  <main class="min-vh-100 sans-serif mw8 center pa2 pa4-ns lh-title">
    {{ content }}
  </main>
</body>
</html>
